@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', monospace;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(255, 101, 44);
    width: 95%;
    max-width: 400px;
    padding: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgb(83, 83, 83);
    display: flex;
    flex-direction: column;
    color: white;
}

.price-input,
.discount-input,
.final-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

h4 {
    font-size: 15px;
}

h3 {
    width: 150px;
    font-size: 20px;
    text-align: center;
}

input {
    width: 150px;
    padding: 7px 10px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 20px;
}

.you-save-output {
    text-align: center;
    color: rgb(242, 242, 242);
    margin-top: 20px;
}

span {
    font-size: 20px;
}

@media only screen and (max-width: 550px) {
    input {
        width: 35%;
    }

    h3 {
        width: 35%;
    }
}